html
body
div
span
object
iframe
h1
h2
h3
h4
h5
h6
p
blockquote
pre
a
abbr
acronym
address
big
cite
code
del
dfn
em
img
ins
kbd
q
s
samp
small
strike
strong
sub
sup
tt
var
dl
dt
dd
ol
ul
li
fieldset
form
label
legend
table
caption
tbody
tfoot
thead
tr
th
td
header
main
footer
aside
  padding: 0
  margin: 0
  border: 0
  outline: 0

body
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

ol
ul
  list-style: none

a
  text-decoration: none
